// variables

$color_white: #fff;
$color_black: #000000;
$color_gray: #f4f5f9;
$color_light_gray: #f1f1f1;
$color_dark_gray: #686868;
$color_orange: #fff6ef;
$color_green: #eefcef;
$color_blue: #ffffff;
$color_yellow: #f9f8f3;

//transitions
$transitions: all 300ms ease;
